@import "../mixins/mixins";

.header {
    @include flexbox (row,space-around, center, wrap);
}
h1 {
    @include flexbox (row,center, center, wrap);
    font-family: $principal;
    font-size: 45px;
    color: $fuenteRosa;
    margin-top: 20px !important;
}
footer {
    background-color:$fondo;
}
.footer {
    @include flexbox (row,space-evenly, center, wrap);
    font-family: $principal;
    margin-top: 10px;
}