@import "../utilities/color";
@import "../utilities/fonts";
@import "../mixins/mixins";

.cajaImagenesIndex {
    @include flexbox (row,space-around, center, wrap);
}
.cardNosotras {
    background-color: $fondo;
    @include flexbox (row,space-evenly, center, nowrap);
    @include cards();
}
.cardNosotras2 {
    @include flexbox (row-reverse,space-evenly, center, nowrap);
    @include cards();
}
.contenedorServicios {
    list-style-type: none;
    margin-bottom: 50px;
    margin-top: 40px;
}

.cardProyectos {
    @include flexbox (row,space-evenly, center, nowrap);
    @include cards();
    background-color: $fondo;
}
.cardProyectos2 {
    @include flexbox (row-reverse,space-evenly, center, nowrap);
    @include cards();
}
.cardContactos {
    @include flexbox (row,space-evenly, center, nowrap);
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
    background-color:$fondo;
    border-style: none;
}