.imagenesIndex {
    width: 380px;
    height: auto;
}
.imagenNosotras {
    width: 300px;
    margin-right: 100px;
}
.imagenNosotras2 {
    width: 300px;
    margin-left: 100px;
}
.imagenProyectos {
    width: 500px;
    margin-right: 100px;
}
.imagenProyectos2 {
    width: 500px;
    margin-left: 100px;
}
.imagenContactos {
    width: 650px;
    padding: 50px;
}
.imagenFooter {
    width: 50px;
}
